/** @format */
.form-controller-div {
  width: 100%;
  height: 92%;
}
.form-controller-header {
  height: 23%;
}
.form-controller-header h2 {
  color: var(--Marine-blue);
}
@media screen and (max-width: 768px) {
  .form-controller-header {
    padding: 5px 0 20px 0 !important;
  }
  .form-controller-header > h4 {
    padding: 5px 0;
  }
  .form-controller-header > small {
    padding: 10px 0 !important;
  }
  /* .form-controller-content {
    margin-top: 15px !important;
  } */
}
